framework: auto-detect
source https://www.nuget.org/api/v2

nuget Atlassian.SDK @= 2.5.0
nuget Exceptionless.Portable
nuget Exceptionless.Windows
nuget Exceptionless.Wpf
nuget MahApps.Metro prerelease
nuget Newtonsoft.Json
nuget RestSharp