framework: auto-detect
source https://www.nuget.org/api/v2

nuget Atlassian.SDK @= 2.5.0
nuget FAKE ~> 4
nuget Exceptionless.Wpf
nuget MahApps.Metro
nuget MahApps.Metro.IconPacks.FontAwesome
nuget Newtonsoft.Json
nuget RestSharp
nuget Octokit
nuget ToastNotifications
nuget System.ValueTuple